data/
figures/
tmp/
__pycache__
exp*.ipynb
*.pkl
*.dat
Pipfile.lock
demo/RCA_subset.csv
demo/rca-ufo-merge_ALL.csv
demo/rca-ufo-mergeESP.csv
demo/rca-ufo-mergeFRA.csv
demo/rca-ufo-mergeNLD.csv
Hertie Server guide.docx
image_data/
image_data_NLD/
image_data_ESP/
image_data_FRA/
image_data_NLD_adv/
image_data_ESP_adv/
image_data_FRA_adv/
